<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">College</span> Food
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#maps">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#socialmedia">Social Media</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <h2><%= t('.contact_us') %></h2>
        <%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic'} do |f| %>
          <% if ContactUs.require_name %>
            <div class='string required' id='contact_us_contact_name_input'>
              <%= f.label :name, (t('.name') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
              <%= f.text_field :name %>
              <% if f.object.errors[:name].present? %>
                <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
              <% end %>
            </div>
          <% end %>
          <div class='string required' id='contact_us_contact_email_input'>
            <%= f.label :email, (t('.email') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
            <%= f.text_field :email %>
            <% if f.object.errors[:email].present? %>
              <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
            <% end %>
          </div>
          <% if ContactUs.require_subject %>
            <div class='string required' id='contact_us_contact_subject_input'>
              <%= f.label :subject, (t('.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
              <%= f.text_field :subject %>
              <% if f.object.errors[:subject].present? %>
                <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
              <% end %>
            </div>
          <% end %>
          <div class='text required' id='contact_us_contact_message_input'>
            <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
            <%= f.text_area :message %>
            <% if f.object.errors[:message].present? %>
              <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
            <% end %>
          </div>
          <div class='commit'>
            <%= f.submit :submit, :class => 'submit create', :title => t('.submit') %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>  


